.contact-me {
    text-align: center;
}
  
.education {
    ul {
        list-style-type:none;
    }
}

.section-main-body {
    .body {
        h5 {
            
        }
    }
}

.interest {
    text-align: center;
}