@import './components/page/profile/profile.css';

$line-color: #7f298c; //line color
$line-style: 3px solid $line-color; //line style

$side-bar-icon-size:22px; //side bar icon size

body {
  font-family: Calibri,"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif !important
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
New stuff
*/

.section-body div.header {
  text-align: center; 
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.section-body div.header:before, .section-body div.header:after{
  content: "";
  flex: 1 1;
  border-bottom: $line-style;
  margin: auto;
}

.section-body div.header span {
  padding: 0 10px;
  
}

.section-main-body .header {
  display: flex;           /* establish flex container */
  align-items: center; 
}

.section-main-body {
  .body {
    margin: 10px 0;
  }

  .left {
    font-size: 32px;
    color: $line-color;
    margin-top: 6px;
  }
  .right {
    border-bottom: $line-style;
    padding-bottom: 2px;
    width: 100%;
    margin-left: 10px;
    font-size: 23px;
    color: $line-color;
  }
}

.section-body {
  .body {
    padding: 10px;
  }
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

a {
    white-space: pre-wrap; /* css-3 */     
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.contact-me {
  i {
    font-size: $side-bar-icon-size;
  }
}

.social-link {
  text-align: center;
  i {
    font-size: $side-bar-icon-size;
    color: $line-color;
    webkit-transition: font-size 1s;
    -moz-transition:  font-size 1s;
    -o-transition: font-size 1s;
    transition:  font-size 1s;

    &:hover {
      font-size: 44px;
    }
  }
}

.exp-wrapper {
  display: flex;
  height: 1rem;
  background-color: #e9ecef;
  padding: 0;
  border-radius: .25rem;
  left: -15px;

  .exp-level {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #7f298c;
    border-radius: .25rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .exp-wrapper {
    left: 0px;
  }

  .exp-name {
    padding-left: 0px;
  }
}

.profile-pic {
  text-align: center;
  img {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    max-width: 230px;
    margin-top: -190px;
    background-color: white;
    padding: 5px;
  }
}

.blade-1 {
  display: block;
  margin-top: 50px;
  background-color: $line-color;
  padding-top: 60px;
  width:100%;
}

.blade-2 {
  display: block;
  margin-top: 20px;
  background-color: $line-color;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 44px;
}


@media (min-width: 767.98px) {
  .profile-side-bar {
    border-left: $line-color;
    border-left-width: medium;
    border-left-style: solid;
  }
}